<h1><%= t '.title' %></h1>
<p><%= t '.body' %>: <strong><%= @comment.body %></strong></p>
<p><%= t '.author' %>: <strong><%= @comment.user_name %></strong></p>
<hr/>

<%= t '.event' %>
<h3><%= @event.title %></h3>
<hr/>

<%= t '.datetime' %>
<h4><%= l @event.datetime %></h4>
<hr/>

<%= t '.owner' %>
<h4><%= @event.user.name %></h4>

<!--<h1>Event#comment</h1>-->

<!--<p>-->
<!--  <%#= @greeting %>, find me in app/views/event_mailer/comment.html.erb-->
<!--</p>-->
