<h1><%= t '.title' %></h1>
<p><%= t '.name' %>: <strong><%= @name %></strong></p>
<p><%= t '.email' %>: <strong><%= link_to @email, "mailto:#{@email}" %></strong></p>
<hr/>

<%= t '.event' %>
<h3><%= @event.title %></h3>
<hr/>

<%= t '.datetime' %>
<h4><%= l @event.datetime %></h4>
<hr/>

<%= t '.owner' %>
<h4><%= @event.user.name %></h4>

<!--<h1>Event#subscription</h1>-->

<!--<p>-->
<!--  <%#= @greeting %>, find me in app/views/event_mailer/subscription.html.erb-->
<!--</p>-->
